/* asterisk wildcard selecter to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header  */

header {
    background-color: lightcoral;
}

/* main content */

main {
    background-color: lightblue;
}

/* footer */

footer {
    background-color: orange;
}